html {
    color-scheme: light;
    scroll-behavior: smooth;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;
    background-color: #fefefe;
}

/* Header */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    margin: 20px;
}

/* Navbar */

#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 47.5px;
    transition: .3s ease;
}

#navbar.open {
    height: 332.5px;
}

.nav-items {
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    padding: 14px 20px;
    color: #1f1f1f;
    cursor: pointer;
}

#toggle {
    width: 47.5px;
    height: 47.5px;
    border: none;
    cursor: pointer;
    background: url(../src/svg/open.svg) no-repeat center/35px;
    transition: .3s ease;
}

#toggle:hover {
    background-color: #eaeaea;
}

#toggle.open {
    background: url(../src/svg/close.svg) no-repeat center/35px;
}

.nav-items a:hover {
    background-color: #eaeaea;
}

.coll-nav-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.coll-nav-items a {
    text-decoration: none;
    padding: 14px 20px;
    color: #1f1f1f;
    width: 100%;
    text-align: center;
}

.coll-nav-items a:hover {
    background-color: #eaeaea;
}

@media (min-width: 800px) {
    .nav-items button{
        display: none;
    }

    #navbar {
        max-height: 47.5px;
        overflow: hidden;
    }
}

@media (max-width: 800px) {
    .nav-items a {
        display: none;
    }
}